.nav-wrapper{
    background-color: #f8f8ff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .brand-logo{
        font-size: 1.5rem;
        font-weight: 600;
        color: #000;
        text-decoration: none;
    }
    .items{
        display: flex;
        gap: 40px;
        

        .Link{
            text-decoration: none;
            color: #000;
            font-size: 1.2rem;
            font-weight: 500;
            transition: all 0.3s ease-in-out;
        }
    }
}
